html {
    scroll-behavior: smooth;
  }
body {
    background-color: rgb(115, 131, 131);
}
#main {
    color: white;
    text-align: center;
    padding-top: 100px;
}
.navbar {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(15, 73, 182);
    display: grid;
    grid-auto-flow: column;
    margin-left: 0;
    z-index: 2;
}
.logo {
    display: grid;
    justify-content: start;
    align-content: center;
    grid-template-columns: 12% 88%;
}
.links {
    padding-right: 40px;
    display: grid;
    justify-content: end;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 20px;
}
.links > a {
    text-decoration: none;
    color: black;
}
.logo > img {
    width: 100%;
    max-width: 50px;
    height: auto;
    padding-top: 7px;
    padding-left: 25px;
} 
#img-caption {
    color: white;
}  
#img-div > img {
    border: 1px solid white;
} 
#image {
    position: relative;
    margin: auto;
    display: block;
    max-width: 100%;
    height: 50%;
}
#title {
    font-size: 2em;
}
#tribute-info {
    list-style-position: inside;
    text-align: start;
    padding-left: 23vw;
    font-size: 1.2em;
}
#tribute-info li {
    text-indent: -1.3em;
    padding: 0.5rem;
}
#tribute-info a {
    text-decoration: none;
}
#statistics {
    color: black;
    width: 60%;
    list-style-position: inside;
    text-align: start;
    padding-left: 12vw;
    display: grid;
    grid-template-columns: 50% 50%;
}
#content2 {
    background-color: white;
    padding-right: 0px;
    display: grid;
    margin-left: 0;
    grid-template-columns: 25% 25% 25% 25%;
    border: 3px solid #ffcf01;
    border-left: 1px solid #ffcf01;
}
#content1 {
    display: grid;
    justify-content: end;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 20px;
}
#competition {
    background-color: white;
    padding-right: 20px;
    border: 3px solid #ffcf01;
    border-right: 1.5px solid #ffcf01;
}
#competition > ul {
    list-style: none;
}
#Test {
    border-right: 3px solid #ffcf01;
}
#odi {
    border-right: 3px solid #ffcf01;
}
#t20i {
    border-right: 3px solid #ffcf01;
}
#Test > ul {
    list-style: none;
    position: relative;
    right: 10px;
}
#odi > ul {
    list-style: none;
    position: relative;
    right: 10px;
}
#t20i > ul {
    list-style: none;
    position: relative;
    right: 10px;
}
#fc > ul {
    list-style: none;
    position: relative;
    right: 10px;
}
#competition > ul > hr {
    position: relative;
    left: -40px;
    width: 146%;
    height: 3px;
    background-color: #ffcf01;
    border: none;
}
#Test > ul > hr {
    position: relative;
    left: -30px;
    width: 172%;
    height: 3px;
    background-color: #ffcf01;
    border: none;
}
#odi > ul > hr {
    position: relative;
    left: -30px;
    width: 172%;
    height: 3px;
    background-color: #ffcf01;
    border: none;
}
#t20i> ul > hr {
    position: relative;
    left: -30px;
    width: 172%;
    height: 3px;
    background-color: #ffcf01;
    border: none;
}
#fc > ul > hr {
    position: relative;
    left: -30px;
    width: 172%;
    height: 3px;
    background-color: #ffcf01;
    border: none;
}
h4 {
    color: white;
    padding-left: 32vw;
    font-size: 2em;
}
h5 {
    color: white;
    font-size: 2em;
}
#references > div > p {
    color: white;
    font-size: 3em;
}
#about > img{
    border: 1px solid white;
}
#about > p {
    font-size: 1.5em;
}
#references > div > a {
    color: yellow;
    text-decoration: none;
    text-align: center;
}
#references > div > a:hover {
    text-decoration: none;
    color: white;
}
#about > img {
    height: auto;
}
@media (max-width: 480px){
    body {
        background-color: #101820FF;
        width: auto;
    }
    .navbar {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        background-color: #ffcf01;
        display: grid;
        grid-auto-flow: column;
        margin-left: 0;
        z-index: 2;
    }
    .logo {
        display: grid;
        justify-content: start;
        align-content: center;
        grid-template-columns: 12% 88%;
    }
    .links {
        padding-right: 20px;
        margin-right: 0;
        display: grid;
        justify-content: end;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 10px;
    }
    .links > a {
        text-decoration: none;
        font-size: 12px;
        color: black;
    }
    h1 {
        font-size: 13px;
    }
    .logo > img {
        width: 100%;
        max-width: 40px;
        height: auto;
        padding-top: 2px;
        padding-left: 5px;
    } 
    #main {
        position: relative;
        left: 50px;
        color: white;
        text-align: center;
        padding-top: 100px;
    }
    #main > p {
        position: relative;
        right: 25px;
    }
    #main > header {
        position: relative;
        right: 25px;
    }
    #timeline > h2 {
        position: relative;
        right: 25px;
    }
    #tribute-info {
        position: relative;
        right: 70px;
    }
    #highlights > h3 {
        position: relative;
        right: 25px;
    }
    #statistics > h4 {
        position: relative;
        padding-left: 160px;
    }
    #life > h5 {
        position: relative;
        right: 25px;
    }
    #title {
        font-size: 1em;
    }
    #img-div {
        position: relative;
        right: 25px;
    }
    #about > img {
        position: relative;
        right: 25px;
    }
    #wife {
        position: relative;
        right: 25px;
    }
    #about > p {
        position: relative;
        right: 25px;
    }
    #references > div > hr {
        position: relative;
        right: 25px;
    }
    #references > div > p {
        position: relative;
        right: 25px;
    }
    #references > div > a {
        position: relative;
        right: 25px;
    }
    #image {
        position: relative;
        margin: auto;
        display: block;
        max-width: 100%;
        width: 200px;
        height: auto;
    }
    #statistics {
        position: relative;
        right: 105px;
        color: black;
        width: 110%;
        list-style-position: inside;
        text-align: start;
        padding-left: 12vw;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #competition > ul > hr {
        position: relative;
        left: -40px;
        width: 146%;
        height: 3px;
        background-color: #ffcf01;
        border: none;
    }
    #Test > ul > hr {
        position: relative;
        left: -30px;
        width: 550%;
        height: 3px;
        background-color: #ffcf01;
        border: none;
    }
    #odi > ul > hr {
        position: relative;
        left: -30px;
        width: 560%;
        height: 3px;
        background-color: #ffcf01;
        border: none;
    }
    #t20i> ul > hr {
        position: relative;
        left: -30px;
        width: 570%;
        height: 3px;
        background-color: #ffcf01;
        border: none;
    }
    #fc > ul > hr {
        position: relative;
        left: -30px;
        width: 450%;
        height: 3px;
        background-color: #ffcf01;
        border: none;
    }
    iframe {
        position: relative;
        right: 25px;
        width: auto;
        height: auto;
    }
}